@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*--------------------------------------RESET--------------------------------------*/
* {
    margin:0%;
    padding:0%;
    font-family: 'Roboto';
    color:#ffffff;
}
body {
    position:relative;
    background-color:#262626;
    
}
a {
text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    position: relative;
    width:100vw;
    height: 100%;
}
h2 {
    font-family: 'Anton';
}
/*--------------------------------------MENU--------------------------------------*/
header {
    background-color: #6C63FF;
}
.Menu {
    position: absolute;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    transform: translateY(-100%);
    transition: transform 400ms ease;
    color:#6C63FF;
    background-color: #6C63FF ;
    z-index: 10;
}
.Menu_Open {
    transform: translateY(0%);
}
.ButtonMenu {
    display:block;
    width:20%;
    background-image: url(images/menu-button.png);
    background-position: 10px center;
    background-size: 32px;
    padding:12px 0px;
    background-repeat: no-repeat;
    text-indent: -9999px;
   
}
.ButtonMenu_Open {
    background-image: url(images/menu-button.png);
}
.ButtonMenu_close {
    background-image: url(images/menu-button.png);
}
.MenuItem {
    padding:20px 20px;
    border-bottom:1px solid #262626;
    background-color: #6C63FF ;
    cursor: pointer;
}
.MenuItem_action {
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
}

/*--------------------------------------HOME--------------------------------------*/
.Home {
    width:100%;
    height:50vh;
}
.Home h1 {
    position: absolute;
    font-family: 'Anton';
    width:80%;
    top:0;
    left:0;
    margin-top: 50%;
    margin-left:10%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 2;
    animation: floating 2s ease infinite;
    animation-delay: 0s;
}
.Home span {
    color:#6C63FF;
    font-family: 'Anton';
}
.Circle01 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#6C63FF;
    clip-path: circle(7% at 10% 23%);
    animation: floating 2s ease infinite;
    animation-delay: 0s;
}
.Circle02 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(78, 69, 248, 0.9);
    clip-path: circle(7% at 10% 9%);
    animation: floating 2s ease infinite;
    animation-delay: 0s;
}
.Circle03 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(87, 78, 245, 0.9);
    clip-path: circle(7% at 80% 15%);
    animation: floating 2s ease infinite;
    animation-delay: 0s;
}
@keyframes floating {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/*--------------------------------------ABOUT--------------------------------------*/
.imageResizer {
    width:100%;
}
.about {
    width:100%;
    height: 100%;
    margin-top: 150%;
    background-color: #6C63FF;
}
.about h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}
.about p {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    color:rgba(255, 255, 255,.7);
}
.about img {
    width:100%;
}
/*--------------------------------------Progress--------------------------------------*/
.progress {
    margin-top: 50%;
    position: relative;
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.progress h1 {
    font-family:'Anton';
    font-size:2.3em;
    margin-bottom:3%;
}
.progressContainer {
    position: relative;
    width:300px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6c63ff;
    border-radius: 9px;
    margin-bottom:3% ;
}
.progressJavascript h2 {
    color: #F0DB4F;
}
.progressCss h2 {
    color:#379ad6;
}
.progressHtml h2 {
    color:#e54d26;
}
.percent {
    position: relative;
    width: 150px;
    height:150px;
}

.circleProgress {
    position: relative;
    width: 150px;
    height:150px;
}
.percent circle {
        width: 150px;
        height:150px;
        fill: none;
        stroke-width: 10;
        stroke: #181818;
        stroke-linecap: round;
        stroke-dasharray: 440;
        stroke-dashoffset: 440;
        transform: translate(5px,5px);
}
.circleProgress  :nth-child(1) {
    stroke-dashoffset: 0;
    stroke:#181818;
}
.circleProgress  :nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 50 / 100));
    stroke:#F0DB4F;
}
.circleCss :nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 70 / 100));
    stroke:#379ad6;
}
.circleHtml :nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 80 / 100));
    stroke:#e54d26;
}
.number {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number h2 {
    font-size: 48px;

}
.number span {
    font-size:24px;
    color:#F0DB4F;
}
.numberCss span {
    color:#379ad6;
}
.numberHtml span {
    color:#e54d26;
}
/*--------------------------------------SOCIALMEDIA--------------------------------------*/
.containerSocialMedia {
    width: 300px;
    left:0;
    display: flex;
    justify-content: space-evenly;
    
}
.socialMedia {
    width:100%;
    height:100%;
    margin-top: 50%;
    justify-content: center;
}
.socialMedia h2 {
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
    animation: floating 2s ease infinite;
}
.socialMediaLink{
    animation: floating 2s ease infinite;
}
/*--------------------------------------KNOWLEDGE--------------------------------------*/
.knowledge {
    width:100%;
    height:100%;
    margin-top:70%;
    background-color: #6C63FF;
}
.knowledge img {
    width:100%;
}
.knowledge h2 {
    font-size: 2em;
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
}
.knowledge p {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    color:rgba(255, 255, 255,.5);
}
.Wave01 {
    position: absolute;
    width:100%;
    margin-top:-21%;
}
.Wave02 {
    position: absolute;
    left:0;
    width:100%;
    margin-top:0%;
}
@media screen and (min-width: 480px){
    .containerSocialMedia {
        margin-left: 17%;
        width: 300px;
    }
}
@media screen and (min-width:720px) {
    .Home h1 {
        font-size: 2.5em;
    }
    .containerSocialMedia {
        margin-left: 30%;
    }
    .socialMedia {
        margin-top: 10%;
    }
    .progressContainer {
        position: relative;
        width:29%;
        margin-right: 5%;
        flex-direction: column;
    }
    .progress {
        margin-top: 100%;
        position: relative;
        width:100%;
        height:400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
    }
    .progressContainer:nth-child(3) {
        margin-right: 0%;
    }
}
@media screen and (min-width:1024px) {
    .ButtonMenu {
        display:none;
    }
    .Menu {
        display: flex;
        position: fixed;
        width:100%;
        height:56px;
        line-height: 56px;
        transform: translateX(0%);
        justify-content: space-evenly;
        background-color: #6C63FF;
    }
    .MenuItem {
        padding:0 50px;
        height:20px;
        cursor: pointer;
        background-color: #6C6CFF;
        border: none;
    }
    a:hover {
        color:#262626;
    }
    /*--------------------------------------HOME--------------------------------------*/
    .Home h1 {
        margin-top: 20%;
        text-align: center;
        font-size: 3.2em;
        text-transform: uppercase;
        z-index: 2;
        animation: floating 2.5s ease-in-out infinite;
    }
    .Circle01 {
        clip-path: circle(7% at 12% 20%);
    }
    .Circle02 {
        clip-path: circle(7% at 10%  8%);
    }
    .Circle03 {
        clip-path: circle(7% at 90% 11%);
    }
    /*--------------------------------------ABOUT--------------------------------------*/
    .about {
        margin-top: 80%;
        height: 500px;
    }
    .about h2{
        font-size:2.5em;
        margin-top: -20%;
        margin-left: 45%;
    }
    .about p {
        margin-left:45%;
        margin-right: 2%;
    }
    .about img {
        width:40%;
    }
    /*--------------------------------------SOCIAL MEDIA--------------------------------------*/
    .socialMedia {
        margin-top: 10%;
        margin-bottom: 3%;
    }
    .socialMedia h2 {
        font-size:3em;
    }
    .containerSocialMedia {
        margin-left: 34%;
    }
    /*--------------------------------------KNOWLEDGE--------------------------------------*/
    .knowledge {
        margin-top:30%;
        height: 500px;
    }
    .knowledge img {
        width:40%;
    }
    .knowledge h2 {
        font-size:2.5em;
       margin-top: -20%;
       margin-left: 40%;
    }
    .knowledge p {
        margin-left:40%;
        margin-right: 2%;
    }
}
@media screen and (min-width:1336px) {
    .containerSocialMedia {
        margin-left: 38%;
    }
}