@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*--------------------------------------RESET--------------------------------------*/
* {
    margin:0%;
    padding:0%;
    font-family: 'Roboto';
    color:#ffffff;
}
body {
    position:relative;
    background-color:#262626;
    
}
a {
text-decoration: none;
}
.container {
    position: relative;
    width:100vw;
    height: 100%;
}
/*--------------------------------------MENU--------------------------------------*/
header {
    background-color: #6C63FF;
}
.Menu {
    position: absolute;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    transform: translateX(-100%);
    transition: transform 500ms ease;
    color:#6C63FF;
    background-color: #6C63FF ;
    z-index: 10;
}
.Menu_Open {
    transform: translateX(0%);
}
.ButtonMenu {
    display:block;
    width:20%;
    background-image: url(images/menu-button.png);
    background-position: 10px center;
    background-size: 32px;
    padding:12px 0px;
    background-repeat: no-repeat;
    text-indent: -9999px;
   
}
.ButtonMenu_Open {
    background-image: url(images/menu-button.png);
}
.ButtonMenu_close {
    background-image: url(images/menu-button.png);
}
.MenuItem {
    padding:20px 20px;
    border-bottom:1px solid #262626;
    background-color: #6C63FF ;
    cursor: pointer;
}
.MenuItem_action {
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
}

/*--------------------------------------HOME--------------------------------------*/
.Home {
    width:100%;
    height:50vh;
}
.Home h1 {
    position: absolute;
    font-family: 'Anton';
    width:80%;
    top:0;
    left:0;
    margin-top: 50%;
    margin-left:10%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    z-index: 2;
    animation: floating 2.5s ease-in-out infinite;
}
.Home span {
    color:#6C63FF;
    font-family: 'Anton';
}
.Circle01 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#6C63FF;
    clip-path: circle(10% at 10% 25%);
    animation: floating 5s ease-in-out infinite;
    animation-delay: 0s;
}
.Circle02 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(78, 69, 248, 0.9);
    clip-path: circle(8% at 10% 9%);
    animation: floating 5s ease-in infinite;
    animation-delay: 0s;
}
.Circle03 {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(87, 78, 245, 0.9);
    clip-path: circle(8% at 80% 15%);
    animation: floating 5s ease-in-out infinite;
    animation-delay: 0s;
}
@keyframes floating {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/*--------------------------------------ABOUT--------------------------------------*/
.about {
    width:100vw;
    height: 100%;
    margin-top: 150%;
    background-color: #6C63FF;
}
.about h2 {
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
}
.about p {
    text-transform: uppercase;
    text-align: center;
}
.about img {
    width:100%;
}
/*--------------------------------------socialMedia--------------------------------------*/
.socialMedia {
    width:100%;
    height:auto;
    margin-top: 50%;
}
.socialMedia h2 {
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
    animation: floating 5s ease-in-out infinite;
}
.socialMediaLink{
    left: 0;
    margin-left: 20%;
    animation: floating 5s ease-in-out infinite;
}
/*--------------------------------------knowledge--------------------------------------*/
.knowledge {
    width:100vw;
    height:100%;
    margin-top:50%;
    background-color: #6C63FF;
}
.knowledge img {
    width:100%;
}
.knowledge h2 {
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
}
.knowledge p {
    text-transform: uppercase;
    text-align: center;
}
.Wave01 {
    position: absolute;
    width:100%;
    margin-top:-21%;
}
.Wave02 {
    position: absolute;
    left:0;
    width:100%;
    margin-top:0%;
}